<div class="header">
    <div class="navbar">
        <a href="#home" class="smooth-scroll-top-navbar-offset">Home</a>
        <a href="#statement" class="smooth-scroll-top-navbar-offset">Mission Statement</a>
        <a href="#joinus" class="smooth-scroll-top-navbar-offset">Join Us</a>
        <a href="#spotlight" class="smooth-scroll-top-navbar-offset">Our Voices</a>
        <!-- <a href="#fundraising" class="smooth-scroll-top-navbar-offset">Fundraising</a> -->
        <a href="#excellence" class="smooth-scroll-top-navbar-offset">Excellence + Analytics</a>
        <a href="#contact" class="smooth-scroll-top-navbar-offset">Contact Us</a>
    </div>
</div>