<div class="header">
    <div class="header-message">
        <div class="header-message-item">
            <a href="/screens/analysis.html">#falsestart</a> for excellence
        </div>
        <div class="header-message-item">
            <a href="/screens/analysis.html">#falsestart</a> for diversity
        </div>
        <div class="header-message-item">
            <a href="/screens/analysis.html">#falsestart</a> for inclusion
        </div>
        <div class="header-message-item">
            <a href="/screens/analysis.html">#falsestart</a> for progress
        </div>
    </div>
    <div class="navbar">
        <a href="#home" class="smooth-scroll-top-navbar-offset">Home</a>
        <a href="#statement" class="smooth-scroll-top-navbar-offset">Mission Statement</a>
        <a href="#joinus" class="smooth-scroll-top-navbar-offset">Join Us</a>
        <a href="#spotlight" class="smooth-scroll-top-navbar-offset">Our Voices</a>
        <!-- <a href="#fundraising" class="smooth-scroll-top-navbar-offset">Fundraising</a> -->
        <a href="#excellence" class="smooth-scroll-top-navbar-offset">Excellence + Analytics</a>
        <a href="#contact" class="smooth-scroll-top-navbar-offset">Contact Us</a>
    </div>
</div>